<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/private/employee/home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>theme</servlet-name>
    <jsp-file>/private/employee/theme.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>theme</servlet-name>
    <url-pattern>/theme</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>suggesttheme</servlet-name>
    <jsp-file>/private/employee/themeentry.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>suggesttheme</servlet-name>
    <url-pattern>/suggestTheme</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>speaker</servlet-name>
    <jsp-file>/private/employee/speaker.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>speaker</servlet-name>
    <url-pattern>/speaker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>suggestSpeaker</servlet-name>
    <jsp-file>/private/employee/speakerentry.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>suggestSpeaker</servlet-name>
    <url-pattern>/suggestSpeaker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nominateSpeaker</servlet-name>
    <jsp-file>/private/employee/nominate.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nominateSpeaker</servlet-name>
    <url-pattern>/nominateSpeaker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>schedule</servlet-name>
    <jsp-file>/private/employee/sessionschedule.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>schedule</servlet-name>
    <url-pattern>/schedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>surveys</servlet-name>
    <jsp-file>/private/employee/surveys.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>surveys</servlet-name>
    <url-pattern>/surveys</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageThemes</servlet-name>
    <jsp-file>/private/employee/admin/theme.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageThemes</servlet-name>
    <url-pattern>/manageThemes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageSpeakers</servlet-name>
    <jsp-file>/private/employee/admin/speaker.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageSpeakers</servlet-name>
    <url-pattern>/manageSpeakers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>room</servlet-name>
    <jsp-file>/private/employee/admin/room.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>room</servlet-name>
    <url-pattern>/room</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageSessions</servlet-name>
    <jsp-file>/private/employee/admin/session.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageSessions</servlet-name>
    <url-pattern>/manageSessions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>overallReport</servlet-name>
    <jsp-file>/private/employee/admin/overallReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>overallReport</servlet-name>
    <url-pattern>/overallReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>presentationReport</servlet-name>
    <jsp-file>/private/employee/admin/presentationReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>presentationReport</servlet-name>
    <url-pattern>/presentationReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>confirmationReport</servlet-name>
    <jsp-file>/private/employee/admin/confirmationReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmationReport</servlet-name>
    <url-pattern>/confirmationReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>interestReport</servlet-name>
    <jsp-file>/private/employee/admin/interestReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>interestReport</servlet-name>
    <url-pattern>/interestReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>expectationReport</servlet-name>
    <jsp-file>/private/employee/admin/expectationReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>expectationReport</servlet-name>
    <url-pattern>/expectationReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>surveyReport</servlet-name>
    <jsp-file>/private/employee/admin/surveyReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>surveyReport</servlet-name>
    <url-pattern>/surveyReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>email</servlet-name>
    <jsp-file>/private/employee/admin/emailForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>email</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>features</servlet-name>
    <jsp-file>/private/employee/admin/systemFeatures.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>features</servlet-name>
    <url-pattern>/features</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>overallSurvey</servlet-name>
    <jsp-file>/private/employee/overallSurvey.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>overallSurvey</servlet-name>
    <url-pattern>/overallSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>surveyTaken</servlet-name>
    <jsp-file>/private/employee/surveyTaken.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>surveyTaken</servlet-name>
    <url-pattern>/surveyTaken</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mealTaken</servlet-name>
    <jsp-file>/private/employee/mealSurveyTaken.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mealTaken</servlet-name>
    <url-pattern>/mealTaken</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mealSurvey</servlet-name>
    <jsp-file>/private/employee/mealSurvey.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>mealSurvey</servlet-name>
    <url-pattern>/mealSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>surveyCompleters</servlet-name>
    <jsp-file>/private/employee/admin/surveyCompleterNames.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>surveyCompleters</servlet-name>
    <url-pattern>/surveyCompleters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>facilitiesReport</servlet-name>
    <jsp-file>/private/employee/admin/facilitiesReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>facilitiesReport</servlet-name>
    <url-pattern>/facilitiesReport</url-pattern>
  </servlet-mapping>
 
 
   <servlet>
    <servlet-name>sendingSessionKeyEmails</servlet-name>
    <jsp-file>/action/sendingSessionKeyEmails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendingSessionKeyEmails</servlet-name>
    <url-pattern>/sendingSessionKeyEmails</url-pattern>
  </servlet-mapping> 
 
  <servlet>
    <servlet-name>sessionKeyEmail-confirm</servlet-name>
    <jsp-file>/private/employee/admin/sessionKeyEmail-confirm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionKeyEmail-confirm</servlet-name>
    <url-pattern>/sessionKeyEmail-confirm</url-pattern>
  </servlet-mapping>
 
 
  <servlet>
    <servlet-name>callOutAction</servlet-name>
    <jsp-file>/private/employee/admin/callOutAction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>callOutAction</servlet-name>
    <url-pattern>/callOutAction</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>emailToAllParticipants</servlet-name>
    <jsp-file>/private/employee/admin/emailToAllParticipants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailToAllParticipants</servlet-name>
    <url-pattern>/emailToAllParticipants</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>eAllParticipants</servlet-name>
    <jsp-file>/private/employee/admin/eAllParticipants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eAllParticipants</servlet-name>
    <url-pattern>/eAllParticipants</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>emailBySurvey</servlet-name>
    <jsp-file>/private/employee/admin/emailBySurvey.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailBySurvey</servlet-name>
    <url-pattern>/emailBySurvey</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>eBySurvey</servlet-name>
    <jsp-file>/private/employee/admin/eBySurvey.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eBySurvey</servlet-name>
    <url-pattern>/eBySurvey</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>eSessionliked</servlet-name>
    <jsp-file>/private/employee/admin/eSessionliked.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eSessionliked</servlet-name>
    <url-pattern>/eSessionliked</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>emailFormOfParticipants</servlet-name>
    <jsp-file>/private/employee/admin/emailFormOfParticipants.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailFormOfParticipants</servlet-name>
    <url-pattern>/emailFormOfParticipants</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>sendingEmailToAllSpeakers</servlet-name>
    <jsp-file>/action/sendingEmailToAllSpeakers.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendingEmailToAllSpeakers</servlet-name>
    <url-pattern>/sendingEmailToAllSpeakers</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <servlet-name>emailToAllSpeakers</servlet-name>
    <jsp-file>/private/employee/admin/emailToAllSpeakers.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailToAllSpeakers</servlet-name>
    <url-pattern>/emailToAllSpeakers</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sessionKeys</servlet-name>
    <jsp-file>/private/employee/admin/sessionkeys.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionKeys</servlet-name>
    <url-pattern>/sessionKeys</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>commentsReport</servlet-name>
    <jsp-file>/private/employee/admin/commentsreport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commentsReport</servlet-name>
    <url-pattern>/commentsReport</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>trackSessionAttendees</servlet-name>
    <jsp-file>/private/employee/admin/trackAttendees.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>trackSessionAttendees</servlet-name>
    <url-pattern>/trackSessionAttendees</url-pattern>
  </servlet-mapping>

</web-app>
