/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2014, 9:10:19 PM
    Author     : David
*/

.featurette-image {
    margin-top: 37px;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 20px;
}

@media (min-width: 768px) {

  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .featurette-heading {
    font-size: 30px;
    /*color: #999999;*/
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 70px;
  }
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.text-muted {
  /*color: #999999;*/
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

.last {
    margin-bottom: 37px;
}

.title {
    font-size: 30px;
    margin-top: 37px;
    margin-bottom: 37px;
}

