body
{
	/*background-image:url('tanweave.jpg');*/
	background-color:#FFFFFF;
}
h1
{
	padding-top:100px;
	padding-bottom:-10px;
}
.form-actions
{
	padding-top:30px;
}
.form-group
{
	padding-left:0px;
}
img
{
	padding-top:10px;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:0px;
	opacity: 1.0;
}
label
{
	font-family:"Verdana", Verdana, sansserif;
	font-size:15px;
}
ul 
{ 
	list-style-type: decimal-leading-zero; 
	margin: 0; 
	padding: 0; 
	margin-bottom: 10px; 
}  
#lisort 
{ 
	margin: 5px; 
	padding: 5px; 
	list-style-type: decimal-leading-zero; 
	style: none; 
	width: 600px; 
}
a
{
	font-size:12px;
}
.accordion-inner
{
	font-size:12px;
}