a
{
	font-size:12px;
}
.accordion-inner
{
	font-size:12px;
}
body
{
	/*background-image:url('tanweave.jpg');*/
	background-color:#FFFFFF;
}
.form-actions
{
	padding-top:30px;
}
.form-group
{
	padding-left:0px;
}
h1
{
	padding-top:100px;
	padding-bottom:-10px;
}
img
{
	padding-top:10px;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:0px;
	opacity: 1.0;
}
label
{
	font-family:"Verdana", Verdana, sansserif;
	font-size:15px;
}