/* 
    Document   : navigationstyle
    Created on : May 29, 2013, 2:33:01 PM
    Author     : 162107
    Description:
        Purpose of the stylesheet follows.
*/

#navbar ul {    font-family: Arial, Verdana;    font-size: 14px;    margin: 0;    padding: 0;    list-style: none;}
#navbar ul li {    display: block;    position: relative;    float: left;}
#navbar li ul {    display: none;}
#navbar ul li a {    display: block;    text-decoration: none;    color: #ffffff;    border-top: 1px solid #ffffff;    padding: 5px 15px 5px 15px;    background: #1e7c9a;    margin-left: 1px;    white-space: nowrap;}
#navbar ul li a:hover {background: #3b3b3b;}
#navbar li:hover ul {    display: block;    position: absolute;}
#navbar li:hover li {    float: none;    font-size: 11px;}
#navbar li:hover a { background: #3b3b3b; }
#navbar li:hover li a:hover {    background: #1e7c9a;}


